.chatInterface {
  display: flex;
  width: 80%;
  min-height: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.roomList {
  width: 25%;
  background: #6b5b95;
  color: #fff;

  margin: 10px 5px;
  border-radius: .5em;
}

.roomTitle {
  padding: .5em .5em 0 .5em;
}

.roomTitle h1 {
  margin: 0;
}

.roomList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.roomItem {
  padding: .5em;
  margin: .5em;
  background-color: #034f84;
  min-height: 5em;
  border-radius: .5em;
  border: 1px solid #fff;
}

.roomConversation {
  width: 75%;
  background: #878f99;
  color: #fff;
  position: relative;

  margin: 10px 5px;
  border-radius: .5em;
}

.groupName {
  padding: .5em;
  width: 100%;
  background-color: #222;
  color: #fff;

  border-radius: .5em;
}

.groupName h1 {
  margin: 0;
}

.messageField {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.messageField * {
  font-family: "Bifocals";

  margin: .5em;
  border: none;
  border-radius: .5em;
  padding: .5em;
}

.messageField input {
  flex-grow: 4;
}

.messageField button {
  flex-grow: 1;
}