.subtitleSection {
  max-width: 500px;
  min-width: 100%;

  font-size: 1.2em;

  display: flex;
  flex-direction: column;
}

.chatSubtitleLeft {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: .5em;
  text-align: left;

}

.chatSubtitleLeft .chat {
  width: max-content;
  background-color: #c94c4c;
  border-radius: .5em .5em .5em 0;
  border: 1px solid #fff;
  color: #fff;
  padding: .5em;
  margin: 0 5px;
}

.chatSubtitleLeft .profileChatDemo {
  left: -40px;
  bottom: 0;
}

.profileChatDemo {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  user-select: none;
}

.chatSubtitleRight {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: .5em;
  text-align: right;

}

.chatSubtitleRight .chat {
  width: max-content;
  background-color: #d64161;
  border-radius: .5em .5em 0 .5em;
  border: 1px solid #fff;
  color: #fff;
  padding: .5em;
  margin: 0 5px;
}

.chatSubtitleRight .profileChatDemo {
  right: -40px;
  bottom: 0;
}

.chat p {
  margin: 0;
}

.chat .user {
  font-size: .7em;
  line-height: 1.5;
  float: left;
}

.chat .sentAt {
  font-size: .7em;
  line-height: 1.5;
  float: right;
}

.chat .clear {
  clear: both;
}

.chat .content {
  border-top: 1px solid #fff;
  padding-top: 10px;
}
